<div class="card p-3">
<form action="<%= url %>" method="GET">
    <div class="form-group row ">
        <div class="col-sm-6">
            <label for="content">Task</label>
            <input type="text" class="form-control" id="content" name="content" value="<%= searchOptions.content %>">
        </div>
        <div class="col-sm-2">
            <label for="userId">User</label>
            <select class="form-control" name="userId" >
                <option  value=""></option>
            <% users.forEach(user => { %>
                <option <% if (user.id === searchOptions.userId) {%> selected <%}%> value="<%= user.id %>"><%= user.name %> </option>
            <%  }); %>
            </select>
        </div>
        <div class="col-sm-3">
            <label for="machineId">Maschine</label>
            <select class="form-control" name="machineId" >
                <option  value=""></option>
            <% machines.forEach(machine => { %>
                <option <% if (machine.id === searchOptions.machineId) {%> selected <%}%> value="<%= machine.id %>"><%= machine.name %> </option>
            <%  }); %>
            </select>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-primary mt-4" type="submit">Search</button>
        </div>
    </div>
</form>
</div>
    