<ul class="todo-list">
    <% tasks.forEach(details => { %>
        <% var taskDone = details.done ? 'task-done' : '' %>
        <% if (details._id == idTask) { %>
            <li class="todo-list-item">
            <form action="/<%= details._id %>" method="PUT">
                <div class="form-row">
                    <div class="form-item">
                        <label>Task</label>
                        <input type="text" name="content" value="<%= details.content%>">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-item">
                        <label>User</label>
                        <select name="user" >
                        <% users.forEach(user => { %>
                            <option <% if (user.id === details.user) {%> selected <%}%> value="<%= user.id %>"><%= user.name %> </option>
                        <%  }); %>
                        </select>
                    </div>
                    <div class="form-item">
                        <label>Maschine</label>
                        <select name="machine" >
                        <% machines.forEach(machine => { %>
                            <option <% if (machine.id === details.machine) {%> selected <%}%> value="<%= machine.id %>"><%= machine.name %> </option>
                        <%  }); %>
                        </select>
                    </div>
                </div>
            <button type="submit">Confirm</button>
            <a href="/" class="cancel">Cancel</a>
            </form>
            </li>
            <% } else { %>
        <li class="todo-list-item <%= taskDone %>">
            <div class="row">
                <div class="col-md-6 <%= taskDone %>">
                    <%= details.content %> ;
                </div>
                <div class="col-md-3 <%= taskDone %>">
                    <%= details.machine.name %> ;
                </div>
                <div class="col-md-2 <%= taskDone %>">
                    <%= details.user.name %>
                </div>
                <div class="col-md-1 form-row  form-row-end">
                    <a href="/<%= details._id %>/edit" class="edit">
                        <span class="fas fa-edit form-item"></span>
                    </a>
                    <form action="/<%= details._id %>/check" class="edit" method="POST">  
                        <button type="submit"  class="link-button">
                            <span class="fas fa-check form-item"></span>
                        </button>
                    </form>
                    <a href="/<%= details._id %>/delete" class="remove">
                        <span class="fas fa-times form-item "></span>
                    </a>
                </div>
            </div>
        </li>
        <% } %>
    <% }) %>
</ul>