<div class="form-row">
    <div class="form-item">
        <label>Task</label>
        <input type="text" name="content" value="<%= searchOptions.content %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>User</label>
        <select name="userId" >
            <option  value=""></option>
        <% users.forEach(user => { %>
            <option <% if (user.id === searchOptions.userId) {%> selected <%}%> value="<%= user.id %>"><%= user.name %> </option>
        <%  }); %>
        </select>
    </div>
    <div class="form-item">
        <label>Maschine</label>
        <select name="machineId" >
            <option  value=""></option>
        <% machines.forEach(machine => { %>
            <option <% if (machine.id === searchOptions.machineId) {%> selected <%}%> value="<%= machine.id %>"><%= machine.name %> </option>
        <%  }); %>
        </select>
    </div>
</div>