<ul class="todo-list">
    <% tasks.forEach(details => { %>
        <% var taskDone = details.done ? 'task-done' : '' %>
        <li class="todo-list-item <%= taskDone %>">
            <div class="row">
                <div class="col-md-6 <%= taskDone %>">
                    <%= details.content %> ;
                </div>
                <div class="col-md-3 <%= taskDone %>">
                    <%= details.machine.name %> ;
                </div>
                <div class="col-md-2 <%= taskDone %>">
                    <%= details.user.name %>
                </div>
                <div class="col-md-1 form-row  form-row-end">
                    <a href="/<%= details._id %>/edit" class="edit">
                        <span class="fas fa-edit form-item"></span>
                    </a>
                    <form action="/<%= details._id %>/check" class="edit" method="POST">  
                        <button type="submit"  class="link-button">
                            <span class="fas fa-check form-item"></span>
                        </button>
                    </form>
                    <a href="/<%= details._id %>/delete" class="remove">
                        <span class="fas fa-times form-item "></span>
                    </a>
                </div>
            </div>
        </li>
    <% }) %>
</ul>