<button class="btn btn-primary col-sm-2 mt-3 mb-1" type="button" data-toggle="collapse" data-target="#collapseFormFields" aria-expanded="false" aria-controls="collapseFormFields">
    <%=  collapsBtnText  %>
</button>
<div class="collapse" id="collapseFormFields">
    <div class="card p-2">
        <form class="" action="<%= url %>" method="post" >
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="content">Task</label>
                <input type="text" class="form-control" id="content" name="content" value="<%= locals.task ? task.content: ''%>">
            </div>
            <div class="col-sm-2">
                <label for="userId">User</label>
                <select class="form-control" name="user" >
                    <option  value=""></option>
                <% users.forEach(user => { %>
                    <option <%= (locals.task && task.user && user.id === task.user.Id) ? 'selected' : '' %> value="<%= user.id %>"><%= user.name %> </option>
                <%  }); %>
                </select>
            </div>
            <div class="col-sm-3">
                <label for="todolistId">Maschine</label>
                <select class="form-control" name="todolist">
                    <option  value="<%= todolist.id %>"><%= locals.todolist ? todolist.name: '??'%></option>
                </select>
            </div>
            <div class="col-sm-1">
                <button  class="btn btn-success mt-4" type="submit"><%= submitBtnText %></button>
            </div>
        </div>
        </form>
    </div>
</div>
