<h2 class="page-header">Search Maschine</h2>
<form action="/todolists" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="name" value="<%= searchOptions.name %>">
        </div>
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<br>
<% todolists.forEach(todolist => {%>
    <div class="todolist-row">
        <div class="todolist-name"><%=todolist.name %> </div>  
        <div class="btn-row">
            <a class="btn btn-primary" href="/todolists/<%= todolist.id %>">View</a>  
            <a class="btn btn-primary" href="/todolists/<%= todolist.id %>/edit">Edit</a>  
            <%- include('../partials/deleteForm.ejs', {url: `/todolists/${todolist.id}`}); %>
        </div>
    </div>
<% }) %>