<div class="col-sm-6">
    <label for="content">Task</label>
    <input type="text" class="form-control" id="content" name="content" value="<%= locals.task ? task.content: ''%>">
</div>
<div class="col-sm-2">
    <label for="userId">User</label>
    <select class="form-control" name="user" >
        <option  value=""></option>
    <% users.forEach(user => { %>
        <option <% if (user.id === searchOptions.userId) {%> selected <%}%> value="<%= user.id %>"><%= user.name %> </option>
    <%  }); %>
    </select>
</div>
<div class="col-sm-3">
    <label for="todolistId">Maschine</label>
    <select class="form-control" name="todolist" >
        <option  value=""></option>
    <% todolists.forEach(todolist => { %>
        <option <% if (todolist.id === searchOptions.todolistId) {%> selected <%}%> value="<%= todolist.id %>"><%= todolist.name %> </option>
    <%  }); %>
    </select>
</div>


