<h2 class="page-header"><%= locals.title ? title : 'User Übersicht'%></h2>
<%- include('_formSearch', {url: `/users`, submitBtnText:'Search', collapsBtnText:'Search User'})%>
<%- include('_form_fields', {url: `/users`, submitBtnText:'Add', collapsBtnText:'Add User'})%>
<br>
<% users.forEach(user => {%>
    <div class="card p-2 mt-2">
    <div class="d-flex">
        <div class="col-md-4 ">
            <%=user.name %>
        </div>
        <div class="col-md-2">
            <%=user.initials %>
        </div>
        <div class="col-md-5 ">
            <%=user.email %>
        </div>
        <div class="col-md-1 d-flex g-0 ">
                <a href="/users/<%= user.id %>/edit" class="btn btn-primary btn-sm">
                    <span class="fas fa-edit form-item"></span>
                </a>

                <%- include('../partials/deleteForm.ejs', {url: `/users/${user.id}`}); %>
        </div>
    </div>
    </div>
<% }) %>